<!DOCTYPE html>
<html lang="ru">
  <head>
      <meta charset="UTF-8">
      <title>Simple plan</title>
  </head>
  <body>
    <h1>Список дел</h1>
    <h2>Сегодня:
        {{ day }}
    </h2>
    <form method="post" action="/">
        <label>
            <input type="text" required name="task">
        </label>
        <label>
            <input type="date" required name="deadline">
        </label>
        <input type="submit" value="Добавить дело!">
    </form>
    <br>
    <form method="post" action="/">
        <label>
            <input type="text" required name="task_change">
        </label>
        <input type="submit" name="Complete" value="Выполнить дело!">
        <input type="submit" name="Delete" value="Удалить дело!">
    </form>
    <p>
        {{ tasks|safe }}
    </p>
    <a href="todofull/">Показать все незавершённые задачи</a>
    <a href="completed/">Показать выполненные задачи</a>
    <a href="deleted/">Показать удалённые задачи</a>
  </body>
</html>